Repository alerrian/monster_shop_1911, pull requests merged in 2020-02, with the labels that each got.

#55 Feature: User Story 10-12, 1
  Gemfile
  Gemfile.lock
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200218223312_create_users.rb
  db/schema.rb
  spec/features/users/user_registration_spec.rb
  spec/models/user_spec.rb
Labels: User Profile Page, User Registration

#56 Login
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/welcome_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/sessions/new.html.erb
  app/views/welcome/show.html.erb
  config/routes.rb
  spec/features/sessions/login_spec.rb
  spec/features/sessions/logout_spec.rb
  spec/features/welcom_spec.rb
  spec/models/user_spec.rb
Labels: Login / Logout

#57 W/nav
  app/controllers/.base_cart_controller.rb.swp
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/base_cart_controller.rb
  app/controllers/cart_controller.rb
  app/controllers/merchant/base_controller.rb
  app/controllers/merchant/dashboard_controller.rb
  app/controllers/user/.base_controller.rb.swp
  app/controllers/user/base_controller.rb
  app/controllers/user/profile_controller.rb
  app/controllers/users_controller.rb
  app/models/application_record.rb
  app/views/admin/dashboard/show.html.erb
  app/views/admin/users/.index.html.erb.swp
  app/views/admin/users/index.html.erb
  app/views/layouts/.application.html.erb.swp
  app/views/layouts/application.html.erb
  app/views/merchant/dashboard/show.html.erb
  app/views/user/profile/show.html.erb
  app/views/users/new.html.erb
  config/.routes.rb.swp
  config/routes.rb
  spec/features/.navigation_spec.rb.swp
  spec/features/navigation_spec.rb
  spec/features/users/.user_registration_spec.rb.swp
  spec/features/users/user_registration_spec.rb
Labels: Navigation

#60 Feature: User story 2-9, navigation
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/base_cart_controller.rb
  app/controllers/cart_controller.rb
  app/controllers/merchant/base_controller.rb
  app/controllers/merchant/dashboard_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/user/base_controller.rb
  app/controllers/user/profile_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/admin/dashboard/show.html.erb
  app/views/admin/users/index.html.erb
  app/views/layouts/application.html.erb
  app/views/merchant/dashboard/show.html.erb
  app/views/user/profile/show.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/navigation_spec.rb
  spec/features/sessions/login_spec.rb
  spec/features/sessions/logout_spec.rb
  spec/features/users/user_registration_spec.rb
Labels: Navigation

#61 Features: User Story 19-22, user profile page
  app/controllers/application_controller.rb
  app/controllers/user/base_controller.rb
  app/controllers/user/profile_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/user/profile/edit.html.erb
  app/views/user/profile/edit_password.html.erb
  app/views/user/profile/show.html.erb
  app/views/users/new.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/users/user_edit_spec.rb
  spec/features/users/user_password_edit_spec.rb
  spec/features/users/user_show_spec.rb
Labels: User Profile Page

#65 Bug Fix: Registration Not properly setting defaults
  app/controllers/users_controller.rb
  app/models/user.rb
  spec/features/users/user_registration_spec.rb
Labels: Bugs

#64 Feature: User Story 27, Add link to orders page from profile
  app/controllers/user/orders_controller.rb
  app/views/user/orders/show.html.erb
  app/views/user/profile/show.html.erb
  config/routes.rb
  spec/features/users/user_profile_orders_spec.rb
Labels: User Order Show Page

#66 thW/23 26
  app/controllers/cart_controller.rb
  app/controllers/orders_controller.rb
  app/controllers/user/profile/orders_controller.rb
  app/models/cart.rb
  app/models/item_order.rb
  app/models/order.rb
  app/models/user.rb
  app/views/cart/show.html.erb
  app/views/layouts/application.html.erb.orig
  app/views/user/profile/orders/index.html.erb
  config/routes.rb
  db/migrate/20190824200120_create_orders.rb
  db/migrate/20200222104142_add_status_to_orders.rb
  db/migrate/20200222104734_add_users_to_orders.rb
  db/schema.rb
  spec/features/cart/checkout_spec.rb
  spec/features/cart/show_spec.rb
  spec/features/items/destroy_spec.rb
  spec/features/items/index_spec.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/merchants/statistics_spec.rb
  spec/features/orders/creation_spec.rb
  spec/features/orders/new_spec.rb
  spec/models/cart_spec.rb
  spec/models/item_orders_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/order_spec.rb
  spec/models/user_spec.rb
Labels: Shopping Cart and Checkout

#67 Feature: User Story 28, profile/orders index
  app/controllers/user/orders_controller.rb
  app/models/item.rb
  app/models/merchant.rb
  app/models/order.rb
  app/views/user/profile/orders/index.html.erb
  config/routes.rb
  spec/features/merchants/destroy_spec.rb
  spec/features/orders/creation_spec.rb
  spec/features/users/user_profile_orders_spec.rb
Labels: User Order Show Page

#78 Feature: User Story 49, Merchants see orders on a show page
  app/controllers/merchant_employee/orders_controller.rb
  app/views/merchant_employee/dashboard/show.html.erb
  app/views/merchant_employee/orders/show.html.erb
  config/routes.rb
  spec/features/merchant_employee/orders/order_show_spec.rb
Labels: Merchant Order Fulfillment
